* {
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: -20px 0 50px;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 2rem;
}

.ghost {
  background-color: transparent !important;
  border-color: white !important;
  border-radius: 2rem;
}

.form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form input, .form select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 90%;
  border-radius: 0.5rem;
}

.formContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 55rem;
  min-height: 30rem;
  display: flex;
  padding: 3rem 0;
}

.form-container {
  position: relative;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.buttons {
  display: flex;
}

.buttons button {
  font-size: 0.9rem;
  padding: 0.5rem;
}

.tutor {
  background-color: #2d760b !important;
  border-color: #205109 !important;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 1;
}

.container .right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 1;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 2;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 3;
}

.formContainer.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay-div {
  background: #317e0c;
  background: -webkit-linear-gradient(to bottom right, #4eca13, #1d4b07);
  background: linear-gradient(to bottom right, #4eca13, #1d4b07);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.formContainer.right-panel-active .overlay-div {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.formContainer.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.formContainer.right-panel-active .overlay-right {
  transform: translateX(20%);
}
